recipe-processing-data.txt
[{"id":"53ebb254.c07cfc","type":"ibmiot in","z":"687cef11.175b","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":true,"x":170,"y":440,"wires":[["d2e28d38.ca15e","9806718e.11121"]]},
{"id":"d2e28d38.ca15e","type":"debug","z":"687cef11.175b","name":"Device Data","active":true,"console":"false","complete":"true","x":380,"y":500,"wires":[]},
{"id":"9310f557.f86018","type":"dashDB out","z":"687cef11.175b","service":"dashDB-mm","table":"DEVICESTATUS","name":"Insert to Table","x":590,"y":440,"wires":[]},
{"id":"9806718e.11121","type":"function","z":"687cef11.175b","name":"Build Query","func":"var status;\nif (msg.eventType == \"switch\") {\n    status = msg.payload.switch.toString();\n} else if (msg.eventType == \"power\") {\n    status = msg.payload.power.toString();n} else if (msg.eventType == \"motion\") {\n    status = msg.payload.motion.toString();\n} else if (msg.eventType == \"temperature\") {\n    status = msg.payload.temperature.toString();\n} else if (msg.eventType == \"contact\") {\n    status = msg.payload.contact.toString();\n} else if (msg.eventType == \"acceleration\") {\n    status = msg.payload.acceleration.toString();\n} else if (msg.eventType == \"presence\") {\n    status = msg.payload.presence.toString();\n} else if (msg.eventType == \"battery\") {\n    status = msg.payload.battery.toString();\n}\n\nmsg.payload =\n{\n   TIMESTAMP : msg.payload.timestamp,\n   DEVICEID : msg.deviceId,\n   DEVICETYPE : msg.deviceType,\n   STATUS : status,\n   EVENTTYPE : msg.eventType,\n   FORMAT : msg.format,\n   MSGID : msg._msgid\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":440,"wires":[["9310f557.f86018"]]},
{"id":"2bcd3441.a07d6c","type":"comment","z":"687cef11.175b","name":"Event from SmartThings","info":"","x":180,"y":380,"wires":[]},
{"id":"3d8efb.44eb5106","type":"comment","z":"687cef11.175b","name":"Save Event in Database","info":"","x":590,"y":380,"wires":[]}] 